@using Dashboard.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using MudBlazor.Extensions
@inherits LayoutComponentBase

@inject ThemeService ThemeService;
@inject ProtectedLocalStorage LocalStorage;

<MudThemeProvider Theme="@ThemeService.Theme" IsDarkMode="@ThemeService.IsDarkMode" @ref="_mudThemeProvider"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout Style="padding: 0px; height: stretch; width: stretch">
    @* <MudAppBar Elevation="1"> *@
    @*     $1$ <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" /> #1# *@
    @*     <MudText Typo="Typo.h5" Class="ml-3">YServerManager</MudText> *@
    @*     <MudSpacer /> *@
    @*     <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" /> *@
    @*     <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" /> *@
    @* </MudAppBar> *@
    <MudDrawer Elevation="2" ClipMode="DrawerClipMode.Never" Open="true" Variant="DrawerVariant.Persistent" Style="padding: 10px; margin: 10px; height: stretch">
        <MudText Typo="Typo.h5" Class="ml-3">YServerManager</MudText>
        <NavMenu/>
        <MudSpacer/>
        <div class="pa-3">
            <MudToggleGroup T="string" Outlined="true" Delimiters="true">
                <MudToggleItem Value="@("light")">
                    <MudIcon Icon="@Icons.Material.Filled.LightMode" />
                </MudToggleItem>
                <MudToggleItem Value="@("dark")">
                    <MudIcon Icon="@Icons.Material.Filled.DarkMode" />
                </MudToggleItem>
                <MudToggleItem Value="@("auto")">
                    <MudIcon Icon="@Icons.Material.Filled.AutoMode" />
                </MudToggleItem>
            </MudToggleGroup>
        </div>
    </MudDrawer>
    <MudMainContent Style="margin-top: 5px; height: stretch">
        <MudPaper Outlined="true"  Class="island">
            @Body
        </MudPaper>
    </MudMainContent>
</MudLayout>
    


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = true;
    private MudThemeProvider? _mudThemeProvider;

    [PersistentState] public string CurrentTheme { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private async Task DarkModeToggle()
    {
        ThemeService.IsDarkMode = !ThemeService.IsDarkMode;
        await LocalStorage.SetAsync("preferred-theme", ThemeService.IsDarkMode? "dark" : "light");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var preferredTheme = await LocalStorage.GetAsync<string>("preferred-theme");
            await SetThemeAsync(preferredTheme.Value);
            StateHasChanged();
        }
    }

    private async Task SetThemeAsync(string value)
    {
        ThemeService.IsDarkMode = value switch
        {
            "light" => false,
            "dark" => true,
            "auto" => await GetSystemTheme(),
            _ => true
        };
    }

    
    private string DarkLightModeButtonIcon => ThemeService.IsDarkMode ? Icons.Material.Rounded.AutoMode : Icons.Material.Outlined.DarkMode;

    private async Task<bool> GetSystemTheme()
    {
        return await _mudThemeProvider.GetSystemDarkModeAsync();
    }

    private async Task OnThemeValueChangedAsync(string value)
    {
        await LocalStorage.SetAsync("preferred-theme", value);
        await SetThemeAsync(value);
    }

}


